{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <h1 class="pt-3 pb-3">Hello Dashboard</h1>
    <p>Username: {{ app.user.username }}</p>
{% endblock %}
